:root {
  /* --map-height: 45vh;
  --rest-height: 51vh; */
}

html,
body,
#app,
#map {
  width: 100%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
}
/* .grid {
  display: grid;
  grid-template-rows: minmax(10vh, 48vh) 45vh minmax(10em, auto-fit);
  grid-template-columns: minmax(2em, 1fr) 1.5fr;
  grid-template-areas:
    "m m"
    "d d";
  grid-auto-rows: auto;
  grid-gap: 10px;
} */

.map-container {
  width: 100%;
  height: 50%;
  grid-area: m;
  resize: vertical;
  position: relative;
}
.bottom {
  width: 100%;
  position: relative;
  /* vertical-align: top; */
  height: 50%;
  grid-area: d;
  /* overflow: hidden; */
}
.info {
  /* overflow-y: scroll; */
  height: 100%;
}
.close {
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  /* float: right; */
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {
  background: #bbb;
}

.info-place {
  border: 2px solid grey;
}

.name {
  font-weight: bolder;
  font-size: 1.2em;
}
.building {
  font-style: italic;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active-acc,
.accordion:hover {
  background-color: #ccc;
}
.accordion-down:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active-acc-down:after {
  content: "\2212";
}
.selected-name {
  font-weight: bold;
  font-size: 1.3em;
}
.tab-row {
  height: 10%;
  font-weight: bold;
}
.no-decoration {
  text-decoration: none;
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  justify-items: flex-start;
}

.contextmenu {
  visibility: hidden;
  background: #ffffff;
  border: 1px solid #8888ff;
  z-index: 10;
  position: relative;
  width: 140px;
}
.contextmenu div {
  padding-left: 5px;
}

.flex-item {
  flex: 1;
}
.flex-item2 {
  flex: 2;
}
.name-col {
  min-width: 150px;
}
.flex-row-beginning {
  display: flex;
  white-space: nowrap;

  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-end;
  justify-content: space-between;
  justify-items: flex-start;
}
.flex-row-left {
  display: flex;
  white-space: nowrap;

  flex-flow: row wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}
.disclaimer {
  font-size: 0.7em;
  font-style: italic;
}
.disclaimer:before {
  content: "*";
}
.panel {
  /* padding: 0 18px; */
  padding: 0 5px;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.flex {
  display: flex;
  flex-flow: column wrap;
}
.column-header {
  font-weight: bold;
}
.popup-title {
  font-size: 1.2em;
  font-weight: bold;
}
.popup-bldg {
  font-style: italic;
}

.sort-desc::after {
  /* content: "\2304"; */
  /* content: " ↓"; */
  content: " \25BC";
  text-align: center;
  vertical-align: middle;
}
.sort-asc::after {
  content: " \25B2";
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.current {
  text-align: left;
}
.active {
  background-color: lightblue !important;
}
.grid2 {
  display: grid;
  /* width: 50%; */
  grid-template-columns: repeat(3, auto);
  grid-auto-rows: auto;
  border: 2px solid black;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* minmax(30em, 1fr) minmax(30em, 1fr); */
  /* repeat(2, minmax(10em, autofit)); */
  grid-auto-rows: min-content;
}
.money-img {
  height: 1em;
}
.title-group:nth-of-type(1) {
  background-color: green;
}
.mapcontrols {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.1em;
}
.divider {
  width: 100%;
  height: 0.1em;
  border-bottom: 1px solid black;
  grid-column: 1 / -1;
}
#recenter {
  background-color: rgba(131, 129, 129, 0.7);
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#myTable > table {
  border-collapse: collapse;
  width: 100%;
}
.table-row {
  cursor: pointer;
}
.table-header {
  table-layout: fixed;
  border-collapse: collapse;
}
#myTable > th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-row:hover {
  background-color: #f5f5f5;
}
.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

/* The location pointed to by the popup tip. */
.popup-tip-anchor {
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}
/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: /* TIP_HEIGHT= */ 8px;
  left: 0;
}
/* Draw the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: /* TIP_HEIGHT= */ 8px solid white;
}
/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  /* Style the info window. */
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}
