<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css.css">
    <link rel="stylesheet" href="./w3.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">


    <title>KU Dining</title>
    <link href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" rel="stylesheet" />

</head>

<body>
    <div id="app">
        <div class="map-container map">
            <div class="map" id="map"></div>
        </div>
        <div class="bottom">
            <div class="current" style="height:100%">

                <div class="w3-center">
                    <span v-if="currentSelection && !closed" class="selected-name">{{currentSelection[cc.name]}}</span>
                    <span class="building" v-if="currentSelection && currentSelection.Building">{{currentSelection[cc.bldg]}}</span>
                    <span class="disclaimer" v-if="currentSelection && currentSelection.Disclaimer">{{currentSelection.Disclaimer}}</span>
                    <div class="divider"></div>
                </div>
                <div class="flex-row-beginning tab-row">
                    <div class="flex-item2 tablink w3-bottombar w3-hover-light-grey w3-border-red" onclick="openTab(event, 'Locations');">
                        Locations
                        <span style="font-weight: normal">({{filterSize}})</span>
                    </div>

                    <div v-if="currentSelection && !closed" class="flex-item tablink w3-bottombar w3-hover-light-grey " onclick="openTab(event, 'Menu');">
                        Menu
                    </div>
                    <div v-if="currentSelection && !closed" class="flex-item tablink w3-bottombar w3-hover-light-grey" onclick="openTab(event, 'Hours');">
                        Hours
                    </div>
                    <div v-if="currentSelection && !closed" class="flex-item tablink w3-bottombar w3-hover-light-grey" onclick="openTab(event, 'About');">
                        About
                    </div>

                </div>

                <div id="gestureZone" class="tabs" style="height:80%;">
                    <div id="Locations" style="height:100%; width:100%; overflow-y:scroll;" class="info tab-contents">
                        <table id="myTable" class="table-header" style="width:100%">
                            <col width="38%">
                            <thead class="w3-text-gray">
                                <tr>
                                    <th v-bind:class="isNameHeader" id="name-header" class="name-col theader w3-fbutton" onclick="onSort(this)">Name</th>
                                    <th id="cash-header" class="theader">Payment Forms Accepted</th>
                                    <th v-bind:class="isStatusHeader" id="status-header" class="theader w3-bfutton" onclick="onSort(this)">Status</th>
                                    <th v-bind:class="isDistanceHeader" id="distance-header" onclick="onSort(this)" class="w3-buftton">Distance (mi)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="place in places" v-if="place.display" v-bind:class="{active : place == currentSelection }" v-on:click="onTouched(place)"
                                    class="name-col table-row">
                                    <td>
                                        <div class="name">{{place[cc.name]}}</div>
                                        <span class="building" v-if="place.Building">{{place[cc.bldg]}}</span>
                                        <span class="disclaimer" v-if="place.Disclaimer">{{place.Disclaimer}}</span>

                                    </td>
                                    <td>
                                        <span class="flex-rowm">
                                            <span v-if="place.dd" class="tooltip">
                                                <img class="money-img" src="https://union.ku.edu/sites/union.ku.edu/files/images/general/cuisine-cash.svg">
                                                <span class="tooltiptext">Dining Dollars</span>
                                            </span>
                                            <span v-if="place.ms" class="tooltip">
                                                <img class="money-img" src="https://union.ku.edu/sites/union.ku.edu/files/images/general/meal-swipe.svg">
                                                <span class="tooltiptext">Meal Swipe</span>
                                            </span>
                                            <span v-if="place.cash" class="tooltip">
                                                <img class="money-img" src="https://union.ku.edu/sites/union.ku.edu/files/images/general/cash.svg">
                                                <span class="tooltiptext">Cash</span>
                                            </span>
                                            <span v-if="place.bb" class="tooltip">
                                                <img class="money-img" src="https://union.ku.edu/sites/union.ku.edu/files/images/general/beak-em-bucks.svg">
                                                <span class="tooltiptext">Beak 'em Bucks</span>
                                            </span>
                                        </span>
                                    </td>
                                    <td v-if="place.isOpen">open</td>
                                    <td v-else class="w3-text-red">closed</td>
                                    <td v-if="place.distance">{{round(place.distance,2)}}</td>
                                    <td v-else>--</td>
                                </tr>
                            </tbody>
                        </table>


                        <div class="grid2" v-if="false">
                            <div class="column-header">Name</div>
                            <div class="column-header">Status</div>
                            <div class="column-header">
                                <div v-if="userLocation">
                                    <span class="w3-button" v-on:click="sortByDist()">Distance (mi)</span>
                                </div>
                                <div v-else> Distance (NA)</div>
                            </div>
                            <div class="divider"></div>
                            <template v-for="place in places" v-if="place.display">
                                <div v-bind:class="{active : place == currentSelection }" v-on:click="onTouched(place)" class="title-group w3-button w3-left-align">
                                    <div class="name">{{ place[cc.name] }}</div>
                                    <span class="building" v-if="place.Building">{{place[cc.bldg]}}</span>
                                    <span v-if="place.dd" class="tooltip">
                                        <img class="money-img" src="https://union.ku.edu/sites/union.ku.edu/files/images/general/cuisine-cash.svg">
                                        <span class="tooltiptext">Dining Dollars</span>
                                    </span>
                                    <span v-if="place.ms" class="tooltip">
                                        <img class="money-img" src="https://union.ku.edu/sites/union.ku.edu/files/images/general/meal-swipe.svg">
                                        <span class="tooltiptext">Meal Swipe</span>
                                    </span>
                                    <span v-if="place.cash" class="tooltip">
                                        <img class="money-img" src="https://union.ku.edu/sites/union.ku.edu/files/images/general/cash.svg">
                                        <span class="tooltiptext">Cash</span>
                                    </span>
                                    <span v-if="place.bb" class="tooltip">
                                        <img class="money-img" src="https://union.ku.edu/sites/union.ku.edu/files/images/general/beak-em-bucks.svg">
                                        <span class="tooltiptext">Beak 'em Bucks</span>
                                    </span>

                                </div>
                                <span v-bind:class="{active : place == currentSelection }" v-on:click="onTouched(place)">
                                    <div v-if="place.isOpen">open</div>
                                    <div v-else class="w3-text-red">closed</div>
                                </span>
                                <span v-bind:class="{active : place == currentSelection }" v-on:click="onTouched(place)">
                                    <div class="dist w3-center" v-if="place.distance != undefined">
                                        {{round(place.distance,2)}}
                                    </div>
                                    <div v-else>--</div>
                                </span>
                                <div class="divider"></div>

                            </template>
                        </div>
                    </div>

                    <div id="Menu" class="tab-contents" style="display: none;">
                        <div v-if="currentSelection && !closed" class="">
                            <div v-if="currentSelectionHasPublishedMenues" class="">
                                <div>Published Menus:</div>
                                <div class="w3-leftbar w3-margin">
                                    <template class="menu" v-for="item in cc.menus">
                                        <div class=" w3-margin" v-if="currentSelection[item]">
                                            <a v-bind:href="currentSelection[item]" target="_blank">{{item == "menu"? "view menu" : item}}</a>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div v-if="currentSelection.searchable">
                                <div class="divider"></div>
                                <div class="w3-large w3-center">Search</div>

                                <div class="flex-row-left">

                                    <div>Date:</div>
                                    <input type="date" id="menu-date" v-bind:value="today" />
                                </div>



                                <div class="flex-row-left">
                                    <label>Meal:</label>
                                    <div class="checkbox">
                                        <label>
                                            <input name="meal" type="checkbox" value="BREAKFAST" checked/>Breakfast&nbsp;</label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input name="meal" type="checkbox" value="BRUNCH" checked/>Brunch&nbsp;</label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input name="meal" type="checkbox" value="LUNCH" checked/>Lunch&nbsp;</label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input name="meal" type="checkbox" value="DINNER" checked/>Dinner&nbsp;</label>
                                    </div>
                                </div>
                                <button class="w3-button w3-black w3-round-large" onclick="doSearch()">Search</button>
                                <div id="menu-results"></div>
                            </div>
                        </div>
                    </div>
                    <div v-if="currentSelection && !closed" id="Hours" class="w3-container tab-contents" style="display:none">
                        <div v-if="currentSelection.currentHours">
                            <template v-for="item in currentSelection.advancedHours.eras">
                                <div class="accordion-down w3-btn w3-black">
                                    {{computeIntervalTitle(item)}}
                                    <!-- {{item.name}} ({{item.from.date.split(" ")[1]}}/{{item.from.date.split(" ")[2]}}-{{item.to.date.split(" ")[0]}}) -->
                                </div>
                                <div class="panel w3-panel">
                                    <div v-for="inn in item.intervals" class="w3-border-red">
                                        <span style="font-weight: bold">
                                            <span>{{inn.fromDay}}</span>
                                            <span v-if="inn.toDay">- {{inn.toDay}}</span>
                                        </span>: {{inn.openingTime}} - {{inn.closingTime}}
                                    </div>
                                </div>
                            </template>
                            <!-- {{currentSelection.advancedHours}} -->
                        </div>
                        <!-- <div v-else>No Hours information for this location.</div> -->
                    </div>
                    <div v-if="currentSelection && !closed" id="About" class="w3-container tab-contents" style="display:none">
                        {{currentSelection[cc.description]}}
                    </div>
                </div>


            </div>
        </div>

        <div class="mapcontrols w3-round" id="mapcontrols">
            <div class="filters panel">
                <strong>Locations must:</strong>
                <br>
                <div class="flex">
                    <div>
                        <input type="checkbox" name="chkbox-open-now" id="chkbox-open-now" onclick="filterStateChange()">
                        <label for="chkbox-open-now">be open now</label>

                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-retail" id="chkbox-retail" onclick="filterStateChange()">
                        <label for="chkbox-retail">be retail only</label>

                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-bb" id="chkbox-bb" onclick="filterStateChange()">
                        <label for="chkbox-bb">accept Beak 'em Bucks</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-dd" id="chkbox-dd" onclick="filterStateChange()">
                        <label for="chkbox-dd">accept Dining Dollars</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-ms" id="chkbox-ms" onclick="filterStateChange()">
                        <label for="chkbox-ms">accept Meal Plan Swipes</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-cash" id="chkbox-cash" onclick="filterStateChange()">
                        <label for="chkbox-cash">accept cash</label>
                    </div>
                </div>

            </div>
            <div class="w3-btn accordion" style="background-color: rgba(0, 0, 0, 0.7) !important;">Location Filters</div>

        </div>
        <!-- <div class="w3-margin"> -->
        <button id="recenter" class="w3-button w3-round" onclick="recenter()">re-center</button>
        <!-- </div> -->
        <div id="content" style="display:none;">
            <span style="cursor:pointer;">I'm here</span>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./mapfix.js"></script>
    <script src="./axios.min.js"></script>
    <script src="./myjs.js"></script>
    <script type="text/javascript" src="./fooddata.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFm8O1EPtBLiLtKN6Uz_DNEqPkPR_Dn8U&callback=initMap"></script>

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>

        /**
         * Loads external page data for the given url.
         * If the url is invalid, then does nothing.
         * @pre the url is valid, accessed through http: or https:, and has CORS settings permissible for use by XMLHttpRequest
         * @param {string} url the url of the page to be loaded
         */
        function loadExternalPageData(url) {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
            }
            //TODO: add handling for an error status
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    console.log('Request successful');
                    processPageData(xmlhttp.responseText);
                } else if (xmlhttp.readyState == 4 && xmlhttp.status != 200) {
                    console.error(xmlhttp.status);
                }
            };
            xmlhttp.open('GET', correctProtocol(url), true);
            console.log('Sending request');
            xmlhttp.send();
        }

        /**
         * Checks the protocol of the current page and sets the input url to the correct protocol
         * @param {string} url the input url, beginning with either http: or https:
         */
        function correctProtocol(url) {
            if (location.protocol === 'https:' && url.substring(0, 5) === 'http:') {
                return 'https:' + url.substring(5);
            } else if (location.protocol === 'http:' && url.substring(0, 6) === 'https:') {
                return 'http:' + url.substring(6);
            }
            return url;
        }

        /**
         * Processes external page data, formats it as a table, and puts the table in the menu-results div
         * @param {string} the responseText (HTML) from the external page that was loaded
         */
        function processPageData(data) {
            data = JSON.parse(data);
            data.map(function (val, index) {
                val.push(index); //add original order information to make sort results stable
            });
            console.log(data);
            data.sort(menuCompare);
            console.log("heres the search results", data);
            jQuery('#menu-results').html(renderMenuView(data));
            let options = {
                paging: false,
                scrollY: "300px",
                select: true

            }
            jQuery('.menu-display-table').DataTable(options);
            jQuery('.menu-display-table').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

        }

        /**
         * Formats relevant row data in a table row (indexes 0, 2, 3, 5, 7)
         * @param {array} rowData The data for a row of menus
         * @return {string} A string of the relevant data formatted as an html table row
         */
        function formatRowData(rowData) {
            return '<tr><td>' + rowData[2] + '</td><td>' + rowData[0] + '</td><td>' + rowData[3] + '</td><td>' + rowData[5] + '</td><td>' + rowData[7] + '</td></tr>';
        }

        /**
         * Gets the form input for menu item filters and returns it as an object
         * Multiple checkbox selections will be stored as a string with different values separated by the | (pipe) character
         * @return {object} An object with any defined filters and their values
         */
        function getFilters() {
            let filters = {};
            filters.service_unit = app.currentSelection.searchable;

            if (jQuery('#menu-date').val()) {
                let ds = jQuery('#menu-date').val().split("-");
                //year, month, date

                //sigh.... john's api needs single digits??? ....
                ds[1] = ds[1][0] == "0" ? ds[1].substring(1) : ds[1];
                ds[0] = ds[0][0] == "0" ? ds[0].substring(1) : ds[0];
                //event date expects month, date, year 
                filters.eventdate = ds[1] + "/" + ds[2] + "/" + ds[0];
            }
            var meals = getCheckboxValues('meal');
            if (meals.length) {
                meals.push('DAILY');
                filters.meal = meals.join('|');
            }
            return filters;
        }

        /**
         * Handles submission of the menu query, collecting filters and submitting the ajax request
         * @return {boolean} always false to stop the form from submitting and the page from refreshing
         */
        function doSearch() {
            submitQuery();
        }
        function submitQuery() {
            var filters = getFilters();
            var url = 'https://dept.ku.edu/~union/cgi-bin/wordpress/dining-menus/ku-dining-menus.php?' + jQuery.param(filters);
            console.log('Submitting request to uri: ' + url);
            loadExternalPageData(url);
            return false; //stop the form from submitting
        }

        /**
         * A comparison function to be used in a sort of the menu results array
         * Sorts primarily by date, then location, then meal, then station (ascending chronologically/alphabetically)
         * @param a {array} The first menu row to compare
         * @param b {array} The second menu row to compare
         * @return {number} Number indicating the result of the comparison (positive if a > b, negative if b > a, 0 if a == b)
         */
        function menuCompare(a, b) {
            var aDate = (Date.parse(a[2]));
            var bDate = (Date.parse(b[2]));
            if (aDate == bDate) { //first check date
                if (a[0] == b[0]) { //then check location
                    if (a[4] == b[4]) { //then check meal (check by meal_number)
                        return (a[10] > b[10] ? 1 : -1); //finally check original order
                    } else return (a[4] > b[4]) ? 1 : -1;
                } else return (a[0] > b[0]) ? 1 : -1;
            } else return (aDate > bDate) ? 1 : -1;
        }
        function toTitleCase(str) {
            return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        }
        function renderMenuView(data) {
            if (data.length === 0) {
                return '<h3 style="font-style: italic;">No menu items matching this search were found</h3>';
            }
            var str = "";
            var date = data[0][2];
            var location = data[0][0];
            str += '<table class="menu-display-table stripe hover">';
            header = `<thead>
                        <tr>
                            <th>Meal</th>
                            <th>Station</th>
                            <th>Item</th>
                        </tr>
                    </thead>`;
            str += header + "<tbody>";
            for (var i = 0; i < data.length; ++i) {
                if (data[i][0] != location || data[i][2] != date) { // if the location or date has changed, close the corresponding tags for locations
                    location = data[i][0];
                    console.log("should NEVER GET HERE");
                    str += '</tbody></table>';
                    if (data[i][2] != date) { // if the date has changed, set the and close the corresponding tag to start a new date segment
                        date = data[i][2];
                        str += '<div class="menu-display-date">' + date + '</div>';
                    }
                    str += '<h3>' + location + `</h3><table class="menu-display-table">${header}<tbody>`;

                }
                str += '<tr><td>' + toTitleCase(data[i][3]) + '</td><td>' + toTitleCase(data[i][5]) + '</td><td>' + toTitleCase(data[i][7]) + '</td></tr>';
            }
            str += '</tbody></table>';
            return str;
        }

        /**
         * Collects checkbox values of a given name and returns the checked values as an array
         * @param {string} name the name of the checkbox to collect information for
         * @return {array} an array of values of the checked checkboxes
         */
        function getCheckboxValues(name) {
            checkboxes = jQuery('[name="' + name + '"]:checked');
            var checked = [];
            for (var i = 0; i < checkboxes.length; ++i) {
                checked.push(jQuery(checkboxes[i]).val());
            }
            return checked;
        }
    </script>


</body>

</html>