<!DOCTYPE html>
<html>

<head>
    <style>
        #map {
            height: 40vh;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="./css.css">

    <title>KU Dining</title>
</head>

<body>
    <div id="app">
        <div class="grid">
            <div class="map" id="map"></div>
            <div class="info">
                <div class="grid2">
                    <template v-for="place in places" v-if="place.display">
                        <div class="title-group">
                            <div class="name" v-on:click="onTouched(place)">{{ place[cc.name] }}</div>
                            <div class="building" v-if="place.Building">{{place[cc.bldg]}}</div>
                        </div>
                        <div v-if="place.isOpen">OPEN</div>
                        <div v-else>CLOSED</div>
                        <!-- <div class="flex-item hours">
                            <div>Hours:</div>
                            <div>{{place.hours1}}</div>
                            <div>{{place.hours2}}</div>
                            <div>{{place.hours3}}</div>
                        </div> -->
                        <div class="flex-item phone">
                            {{place[cc.phone]}}
                        </div>
                        <a v-if="place.menu" v-bind:href="place.menu" target="_blank">Published Menu</a>
                        <div v-else>no menu</div>
                        <div class="dist" v-if="place.distance != undefined">
                            Dist: {{place.distance}}
                        </div>

                        <div class="divider"></div>

                    </template>
                </div>
            </div>

        </div>
        {{ message }}
        <div class="mapcontrols" id="mapcontrols">
            <div v-if="userLocation">
                <button v-on:click="sortByDist()">Sort By Distance</button>
            </div>
            <div class="filters">
                Filters:
                <br>
                <div>
                    <div>
                        <input type="checkbox" name="chkbox-open-now" id="chkbox-open-now" onclick="filterStateChange()">
                        <label for="chkbox-open-now">Must be open Now</label>

                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-bb" id="chkbox-bb" onclick="filterStateChange()">
                        <label for="chkbox-bb">Must accept Beak 'em Bucks</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-dd" id="chkbox-dd" onclick="filterStateChange()">
                        <label for="chkbox-dd">Must accept Dining Dollars</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-ms" id="chkbox-ms" onclick="filterStateChange()">
                        <label for="chkbox-ms">Must accept Meal Plan Swipe</label>
                    </div>
                    <div>
                        <input type="checkbox" name="chkbox-cash" id="chkbox-cash" onclick="filterStateChange()">
                        <label for="chkbox-cash">Must accept cash</label>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./myjs.js"></script>
    <script type="text/javascript" src="./fooddata.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFm8O1EPtBLiLtKN6Uz_DNEqPkPR_Dn8U&callback=initMap">
    </script>


</body>

</html>